services:
  deepslate:
    build:
      context: ../
      dockerfile: Dockerfile
    environment:
      - LOG_LEVEL=debug
      - VELOCITY_SECRET=deepslate
    ports:
      - "25565:25565"
      - "25577:25577"
      - "25578:25578"
    depends_on:
      - minecraft

  minecraft:
    image: itzg/minecraft-server:latest
    expose:
      - 25565
    environment:
      - EULA=TRUE
      - TYPE=PAPER
      - VERSION=1.21.10
      - ONLINE_MODE=FALSE
      - OPS=Qubitl
    volumes:
      - minecraft_data:/data
      - ./paper-global.yml:/configs/paper-global.yml

volumes:
  minecraft_data: {}
